.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 70%;
  height: 250px;
  margin-top: 20px;
}

.grid-card {
  width: 90%;
  height: 250px;
  margin-top: 20px;
}
